.rootPane {
    -fx-background-image: url("../images/Publisher_material/Display_3.jpg");
    -fx-background-size: 1300px 760px;
}
.Avvia{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 36;
}
.Esci{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 30;
}