.rootPane {
    -fx-background-image: url("../images/Publisher_material/Display_1.jpg");
    -fx-background-size: 1300px 760px;
}
.mainButton{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 36;
}