.mainButton{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 28;
}
.createButton{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 24;
}
.list-cell:even { /* <=== changed to even */
    -fx-background-color: transparent;
    -fx-opacity: 0.9;
}
.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #8B4513;
    -fx-opacity: 0.9;
}
.listView{
    -fx-background-color: #ab5c23;
    -fx-opacity: 0.9;
    -fx-font-size: 18px;
}
.hbox{
    -fx-background-color:  #8B4513;
}
.label{
    -fx-font-family: 'Curlz MT';
    -fx-font-size: 28;
}
.reloadbutton{
    border-radius: 50%;
}