.rootPane {
    -fx-background-image: url("../images/Publisher_material/Display_1.jpg");
    -fx-background-size: 1300px 760px;
}
.mainButton{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 28;
}
.createButton{
        -fx-font-family: 'Curlz MT';
        -fx-font-size: 24;
}
.list-cell: even { /* <=== changed to even */
    -fx-background-color: #ab5c23;
    -fx-opacity: 0.9;
}
.list-cell: odd { /* <=== changed to even */
    -fx-background-color: #8B4513;
    -fx-opacity: 0.9;
    -fx-font-size: 24px;
}
.listView{
    -fx-background-color: #ab5c23;
    -fx-opacity: 0.9;
    -fx-font-size: 24px;
}
.hbox{
    -fx-background-color:  #8B4513;
}
.label{
    -fx-font-family: 'Curlz MT';
    -fx-font-size: 28;
}
.reloadbutton{
    border-radius: 50%;
}